.noImprimir{
	display:none;
}

table{
	width:100%;
}
table td, th{
	border: 1px solid #F0F0F0;
}
.encabezado{
	display:block;
}

@media print{

	body{
		-webkit-print-color-adjust: exact;
		color adjust: exact;
	}
}

@page {

	size:letter portrait;
	margin:0mm;
	margin-left:2cm;
	margin-right:0.3cm;
	margin-top:0.3cm;
	margin-bottom:0.3cm;
	-webkit-print-color-adjust: exact;
		color adjust: exact;
	}